singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    pfam_chunksize = 2. MB
    kofam_chunksize = 2. MB
    dbcan_chunksize = 1. MB
}

process {
    executor = 'slurm'

    errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    // errorStrategy = 'retry'
    maxRetries    = 1
    maxErrors     = '-1'

    time = 1.h
    memory = 4.GB
    cpus = 1
    clusterOptions = '--cpus-per-task 1'

    withName: CHUNKFASTX {
        ext.args = "-b ${params.hmmsearch_chunksize}"
    }

    withName: HMMER_HMMSEARCH {
        cpus = 2
        maxForks = 160
        memory = 1.GB
        time = 4.h
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withName: RUNDBCAN_CAZYMEANNOTATION {
        cpus = 2
        maxForks = 160
        memory = { 8.GB * Math.pow(2, task.attempt) }
        time = 4.h
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withName: KOFAMSCAN {
        cpus = 2
        maxForks = 160
        memory = { 1.GB * Math.pow(2, task.attempt) }
        time = 4.h
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withName: PYRODIGAL_SMALL {
        cpus = 1
        memory = 4.GB
        time = 4.h
    }

    withName: PYRODIGAL_LARGE {
        cpus = 1
        memory = 4.GB
        time = 4.h
    }
}
