/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
        nextflow run main.nf -profile test,docker --outdir <OUTDIR>

    Prerequisites: run tests/scripts/make_mini_databases.sh once to populate
    tests/testdata/mini_pfam/, mini_dbcan/, and mini_kofam/.
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]

    withName: 'GAPSEQ_DOALL' {
        ext.args = '-O'
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Mini test dataset using local mini databases'

    samplesheet = "${projectDir}/tests/testdata/samplesheet.csv"

    run_gapseq  = true
    run_carveme = true

    pfam_chunksize  = 100.KB
    kofam_chunksize = 100.KB
    dbcan_chunksize = 100.KB

    databases {
        pfam {
            hmm        = "${projectDir}/tests/testdata/mini_pfam/mini_pfam.hmm"
            n_profiles = 100
        }
        dbcan {
            files {
                db = "${projectDir}/tests/testdata/mini_dbcan"
            }
        }
        gapseq {
            path = "${projectDir}/tests/testdata/mini_gapseq_db"
        }
        kofam_chunked {
            chunk_1 {
                files {
                    ko_list  = "${projectDir}/tests/testdata/mini_kofam/chunk_1/ko_list"
                    profiles = "${projectDir}/tests/testdata/mini_kofam/chunk_1/profiles"
                }
            }
            chunk_2 {
                files {
                    ko_list  = "${projectDir}/tests/testdata/mini_kofam/chunk_2/ko_list"
                    profiles = "${projectDir}/tests/testdata/mini_kofam/chunk_2/profiles"
                }
            }
        }
    }
}
